<!DOCTYPE html><html lang"en">
<head> <meta charset="UTF-8"> <title>Enroll Entry</title></head>
<body bgcolor=pink> <h2>Enroll Entry Form</h2>
<marquee>Please type enroll details</marquee>
<form method="post" action="{% url 'process_enroll_entry' %}">
{% csrf_token %}
<table border=1>
<tr><td><label for="SnoNumber">Serial Number:</label></td>
<td><input type="text" ="cno" required></td></tr>
<tr><td><label for="Jdate">Jdate:</label></td>
<td><input type="text" name="cname" required></td></tr>
<tr><td colspan=2> <button type="submit">Submit</button></td></tr>
</form>
</body>
</html>

