{% extends "homepage.html" %}

<style>
table {
          margin-top=100px;
          margin-left=600px;
}
</style>
<h1>Welcome To All BatchMaster Data </h1>
<table border=1>
{% for i in data %}
<tr>
<td>{{i.batchNo}}</td>
<td>{{i.batchid}}</td>
<td>
<a href="{% url 'edit_batch' pk=x.id %}"><button type="button" style="margin-left:5px;">Modify</button></a>
</tr>

</td>
</tr>

{% endfor %}
</table>
<br>
<form action="{% url 'display_image' %}">
<button type="submit" style="font-size:20px; margin-left:1200px;margin-top: 140px; ">Home</button>
</form>