{% extends "homepage.html" %}
{% block content %}
<h3>CourseMaster-Delete</h3>
<center>
<table border="2">
<tr><th>Id</th><th>course</th><th>courseId</th><th>Delete</th></tr></tr>
{% for x in data %}
<tr>
<td>{{x.id}}</td>
<td>{{x.course}}</td>
<td>{{x.courseId}}</td>
<td><a href="{% url 'delete1' pk=x.id %}"><button type="button" style="margin-left: 5px;">delete</button></a></td>
</tr>
{% endfor %}
</table>
<tr>
<td><a href="{% url 'display_image' %}"><button type="submit">HOME</button></a></td>
</tr>
</center>
{% endblock %}